* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transparent {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(5, 5, 5, 0.8);
}
.container img {
  width: 100%;
  height: 100vh;
  position: absolute;
}
main {
  width: 80%;
  height: 40vh;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
main h1,
h2,
h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}
main h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
main h2 {
  font-size: 40px;
}
.anim-p {
  font-size: 30px;
  color: rgb(148, 147, 147);
  font-weight: 100;
}
button {
  width: 150px;
  height: 6vh;
  border: none;
  font-size: 16px;
}

.button-1 {
  background-color: lightseagreen;
  color: white;
  margin-right: 15px;
}
.button-1:hover {
  background-color: transparent;
  border: 1px solid white;
}
.button-2 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.button-2:hover {
  background-color: lightseagreen;
}
@media screen and (max-width: 700px) {
  .container img {
    width: 200%;
  }
  main h2 {
    font-size: 25px;
  }
  main h3 {
    font-size: 22.5px;
  }
}
nav {
  width: 100%;
  height: 10vh;
  background-color: rgb(15, 15, 15);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  font-size: 30px;
}
nav h1,
li {
  color: white;
}
nav ul,
li {
  list-style-type: none;
  display: inline-block;
}
nav li {
  font-size: 18px;
  padding: 0 8px;
}
nav li:hover {
  color: lightseagreen;
}
.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about-header h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 520;
}
.about-header p {
  font-size: 20px;
  color: gray;
}
.about-footer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-footer img {
  width: 40%;
  height: 53vh;
}
.about-footer h3 {
  font-size: 24px;
  color: rgb(48, 45, 45);
  font-weight: 560;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 15px;
}
.aside {
  width: 40%;
  height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside p {
  font-size: 20px;
  color: grey;
}
.services-pic {
  width: 100%;
  height: 75vh;
  position: absolute;
}
.transparent-2 {
  width: 100%;
  height: 75vh;
  position: absolute;
  background: rgba(250, 250, 250, 0.9);
  z-index: 1;
}
.services {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.briefcase {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  z-index: 1;
}
.header-services {
  width: 100%;
  height: 15vh;
}
.header-services-h1 {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: 550;
  z-index: 20;
}
.services-hr {
  width: 4%;
  height: 3px;
  background-color: lightseagreen;
  border: none;
  z-index: 5;
}
.header-p {
  font-size: 18px;
  color: gray;
  font-weight: 400;

  z-index: 50;
}
.briefcase-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  margin-left: 15px;
}
.icons {
  color: white;
  font-size: 18px;
}
.briefcase-icon:hover,
.icons:hover {
  background-color: transparent;
  color: lightseagreen;
}
.briefcase p {
  font-size: 17px;
  color: gray;
}
section main h3 {
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.card-row {
  width: 23%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 700px) {
  .about-footer img {
    width: 100%;
    height: 40vh;
  }
  .about {
    width: 100%;
    height: 120vh;
  }
  .about-footer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    z-index: 20;
  }
  .aside {
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 50;
  }
  .services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .services img,
  .transparent-2 {
    width: 150%;
    height: 100vh;
  }
  .header-p {
    text-align: center;
  }
  .briefcase {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-row {
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.section-subscribe {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-subscribe img {
  width: 100%;
  height: 40vh;
  position: absolute;
  z-index: 1;
}
.transparent-3 {
  width: 100%;
  height: 40vh;
  background: rgba(24, 23, 23, 0.7);
  position: absolute;
  z-index: 1;
}
.section-subscribe h1 {
  z-index: 5;
  color: white;
  font-size: 35px;
}
.section-subscribe p {
  color: white;
  z-index: 5;
  font-size: 18px;
}
.section-subscribe button {
  z-index: 5;
  border: solid 2px white;
  background-color: transparent;
  color: white;
}
.section-subscribe button:hover {
  background-color: lightseagreen;
  border: none;
}
.subscribe {
  width: 70%;
  height: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.subscribe-footer {
  width: 100%;
  height: 50%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.portfolio {
  width: 100%;
  height: 150vh;
}
.portfolio-nav {
  width: 100%;
  height: 6vh;
  background-color: white;
  z-index: 3;
}
.portfolio-li {
  font-size: 15px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.portfolio-header,
.testimonials-header,
.team-header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.testimonials-header {
  justify-content: flex-end;
}
.portfolio-header h1,
.testimonials h1,
.team h1 {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr {
  width: 4%;
  height: 3px;
  background-color: lightseagreen;
  border: none;
}

.testimonials h1 {
  margin-top: 20px;
}
.portfolio-header p,
.testimonials p,
.team p {
  color: gray;
  font-size: 18px;
}
.testimonials p {
  margin-top: 15px;
}
.portfolio-img {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio-img img {
  width: 28%;
  height: 40vh;
}
.column-img {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.portfolio-footer {
  width: 100%;
  height: 15vh;
}
.testimonials {
  width: 100%;
  height: 95vh;
  background-color: whitesmoke;
}
.client-1 {
  width: 20%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.client-1 img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 7px solid white;
}
.client-1 h1 {
  font-size: 25px;
  color: lightseagreen;
  border: none;
}
.client {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.client-aside {
  width: 70%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-aside h4 {
  font-weight: 100;
  color: rgb(102, 101, 101);
  font-size: 19px;
}
.aside-color {
  width: 100%;
  height: 23vh;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-position {
  width: 80%;
  height: 60vh;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.team-card {
  width: 24%;
  height: 45vh;
}
.team-card img {
  width: 100%;
  height: 75%;
}
.team-card h2 {
  font-size: 25px;
  color: rgb(100, 100, 100);
  font-family: Arial, Helvetica, sans-serif;
}
.team-card p {
  font-size: 17px;
  color: rgb(165, 164, 164);
  font-style: italic;
}
.card-footer {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.color-card {
  font-size: 20px;
  color: rgb(179, 178, 178);
}
.color-card:hover {
  color: lightseagreen;
}
@media screen and (max-width: 700px) {
  .team {
    height: 240vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-position {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team-card {
    width: 95%;
    height: 50vh;
  }
  .team-card img {
    width: 100%;
    height: 30vh;
  }
}
